miniproject_Promos_for_our_e_commerce.ipynb
Unsupervised_Learning_Algorithm.ipynb
.ipynb_checkpoints/miniproject_Promos_for_our_e_commerce-checkpoint.ipynb
.ipynb_checkpoints/Unsupervised_Learning_Algorithm-checkpoint.ipynb