miniproject_Promos_for_our_e_commerce.ipynb
Supervised_dataset_housing_boston.ipynb
Supervised_Learning_Algorithm.ipynb
Unsupervised_Learning_Algorithm.ipynb
.ipynb_checkpoints/miniproject_Promos_for_our_e_commerce-checkpoint.ipynb
.ipynb_checkpoints/Supervised_dataset_housing_boston-checkpoint.ipynb
.ipynb_checkpoints/Supervised_Learning_Algorithm-checkpoint.ipynb
.ipynb_checkpoints/Unsupervised_Learning_Algorithm-checkpoint.ipynb